<%- include header %>
<% posts.forEach(function(post, index) { %>
<div class="content">
  <h2><a class="title" href="#"><%= post.title %></a></h2>
  <p class="info">
    作者：<a href="#"><%= post.name %></a> | 
    日期：<a href="#"><%= post.time.minute %></a>
  </p>
  <p class="post"><%- post.post %></p>
</div>
<% }) %>
<%- include footer %>